.about {
  margin: 0 auto;
  padding-top: 90px;
  border-top: 1px dotted var(--color-grey-lighter);
  margin-bottom: 100px;
}

.about__text {
  display: inline-block;
  width: 40%;
  padding-right: 80px;
  border-right: 1px dotted var(--color-grey-lighter);
}

.about__text h2 {
  color: var(--color-grey-darker);
  margin-bottom: 12px;
}

.about__text p {
  font-size: var(--font-size-normal);
}

.about__team {
  width: 60%;
  display: inline-flex;
  justify-content: space-around;
  align-items: flex-start;
  vertical-align: top;
}

.about__media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__media .media-img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  border: 5px solid var(--color-grey-lighter);
}

.about__media .media-name {
  margin: 8px 0;
  color: var(--color-grey-darker);
  font-size: var(--font-size-big);
}

.about__media .media-rule {
  font-size: var(--font-size-small);
}

.about__media .media-links {
  margin-top: 12px;
}

.about__media .media-link {
  width: 12px;
  height: 12px;
  fill: #999;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.about__media .media-link:hover {
  fill: #000;
  color: #000;
}
