.appbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey);
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  background-color: transparent;
  z-index: 1;
}

.appbar--header {
  position: absolute;
}

.appbar__title {
  display: inline;
  flex-grow: 1;
}

.appbar__title button {
  font-size: var(--font-size-bigger);
  cursor: pointer;
  color: white;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  background-color: transparent;
  border: 0;
}

.appbar--header .appbar__title button {
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

/* text fill effext start */
.appbar--header .appbar__title button::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
  color: #2fac6c;
}

.appbar--header .appbar__title button:hover::before {
  width: 100%;
}
/* text fill effext end */

.appbar__links-container {
  display: inline-block;
  list-style: none;
  margin: 0;
}

.appbar__link-container {
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
}

.appbar__link {
  cursor: pointer;
  display: inline-block;
  padding: 30px 15px;
  text-decoration: none;
  color: var(--color-grey);
  font-size: var(--font-size-small);
  margin-bottom: -1px;
  transition: all 0.3s;
  background-color: transparent;
  border: 0;
}

.appbar__link:hover {
  border-bottom: 1px solid white;
  color: #fff;
}

.appbar--header .appbar__link {
  color: #ddd;
}

.appbar--header .appbar__link-active {
  color: var(--color-red);
  border-bottom: 1px solid white;
}

.appbar--header .appbar__link:hover {
  border-bottom: 1px solid white;
  color: var(--color-red);
}
