.domain {
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.domain__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.domain__text h3 {
  font-size: var(--font-size-bigger);
  color: var(--color-grey-darker);
}

.domain__text p {
  font-size: var(--font-size-normal);
  margin: 20px 0 0;
}

.domain__field {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.domain__www {
  display: inline-block;
  padding: 10px;
  border: 1px solid var(--color-grey-lighter);
  border-right: none;
  font-size: var(--font-size-normal);
  color: var(--color-grey-darker);
}

.domain__input {
  flex-grow: 1;
  display: inline-block;
  border: 1px solid vaR(--color-grey-lighter);
  padding: 10px;
  font-size: var(--font-size-normal);
}

.domain__extension {
  display: inline-block;
  padding: 10px;
  border: 1px solid var(--color-grey-lighter);
  border-left: none;
  font-size: var(--font-size-normal);
  color: var(--color-grey-darker);
  cursor: pointer;
}

.domain__arrow {
  width: 12px;
  height: 12px;
  padding-left: 2px;
}

.domain__specifications {
  border: 1px solid var(--color-grey-lighter);
  width: 100%;
  margin: 40px;
  padding: 20px;
}

.domain__row {
  display: flex;
}

.domain__ceil {
  border-top: 1px solid var(--color-grey-lighter);
  border-left: 1px solid var(--color-grey-lighter);
  font-size: var(--font-size-normal);
  width: 100%;
  padding: 30px 0;
  text-align: center;
}

.domain__first-row-ceil {
  border-top: none;
}

.domain__first-col-ceil {
  border-left: none;
}
