.footer {
  padding: 70px 0 0;
  background-color: #2a2a2a;
}

.footer__bottom {
  width: 100%;
  color: white;
  margin: 0 auto;
  padding: 70px 10px;
  display: flex;
  font-size: var(--font-size-small);
  color: var(--color-grey);
}

.footer__text {
  font-size: var(--font-size-normal);
  width: 35%;
}

.footer__nav {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.footer__nav p {
  cursor: pointer;
}

.footer__nav p:hover {
  color: #fff;
}

.footer__nav * {
  margin-bottom: 5px;
}

.footer__informations {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding-left: 20px;
  border-left: 1px solid var(--color-grey);
}

.footer__informations p {
  margin-bottom: 5px;
  transition: all 0.3s;
  cursor: pointer;
}

.footer__informations p:hover {
  color: #fff;
}

.footer__icon {
  width: 10px;
  height: 10px;
}
