.header {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 760px;
}

/* Intro */
.intro {
  color: white;
}

.intro__text {
  width: 800px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.intro h2 {
  margin: 10px;
}

.intro__image {
  filter: brightness(50%);
  width: 100%;
}

/* Join */
.join {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  box-sizing: content-box;
}

.join__parallelogram {
  width: 50%;
  transform: skewX(-18deg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.join__login {
  background: #21424a;
}

.join__register {
  background: #2fac6c;
}

.join__login::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 100%;
  height: 100%;
  background: #21424a;
}

.join__register::after {
  content: "";
  position: absolute;
  right: -10px;
  width: 100%;
  height: 100%;
  background: #2fac6c;
}

.join__text {
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: var(--font-size-big);
  transform: skew(18deg);
  z-index: 10;
}

@media screen and (max-width: 1300px) {
  .join {
    bottom: 20px;
  }
}
