.plans {
  margin-bottom: 70px;
  font-size: var(--font-size-normal);
  position: relative;
  height: 850px;
}

@media screen and (min-width: 1600px) {
  .plans {
    height: 950px;
  }
}

.plans__image {
  width: 100%;
  filter: brightness(50%);
  min-height: 400px;
}

.plans__content {
  display: flex;
  margin: -200px auto 0;
  color: var(--color-grey-darker);
  position: absolute;
  width: 100%;
}

.plans .card {
  padding: 30px 5px 35px;
  border: 1px solid var(--color-grey-lighter);
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.plans .card:last-of-type {
  margin-right: 0;
}

.plans .card__backage-size {
  margin: 0 auto 15px;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 12px;
  font-size: var(--font-size-small);
}

.plans .card__star {
  width: 15px;
  height: 15px;
  margin: 0 auto 12px;
  box-sizing: content-box;
  padding: 20px;
  border-radius: 50%;
}

.card__divider {
  height: 1px;
  width: 160px;
  margin: 0 auto;
  background: var(--color-grey-lighter);
}

.plans .card__specifications {
  color: var(--color-grey);
  margin: 20px 10px 10px;
}
.plans .card__specifications-item {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.plans .card__price {
  margin: 25px auto 20px;
  color: var(--color-grey);
  font-weight: bold;
  padding-bottom: 5px;
}

.plans .card__dolor {
  font-size: var(--font-size-big);
}

.plans .card__price-number {
  font-size: var(--font-size-bigger);
  color: #555;
}

.plans .card__month {
  font-size: var(--font-size-smaller);
}

.plans .card__action {
  margin: 0 auto;
  font-weight: bold;
  cursor: pointer;
}

.--25 {
  border-left-color: #fff !important;
  border-right-color: #fff !important;
  border-bottom-color: #fff !important;
}

.--50 {
  border-bottom-color: #fff !important;
  border-left-color: #fff !important;
}

.--75 {
  border-left-color: #fff !important;
}
