.quote {
  position: relative;
  overflow: hidden;
}

.quote__image {
  height: 300px;
  filter: brightness(30%);
  width: 100%;
}

.quote__content {
  width: 100%;
  position: absolute;
  color: white;
  top: 100px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.quote__slider {
  width: 300%;
  text-align: center;
  font-size: var(--font-size-normal);
  display: flex;
  justify-content: flex-start;
}

.quote__slide {
  width: 100%;
}

.quote__slide p {
  width: 110vh;
  margin: 0 auto 10px;
}

.quote__nav {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
}

.quote__nav button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid white;
  margin: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
