.services {
  width: 100%;
  margin: 70px auto;
  display: flex;
  justify-content: space-around;
}

.services .media {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.services .media__icon-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border-radius: 100%;
}

.services .media__icon {
  width: 30px;
  height: 30px;
  fill: white;
  color: white;
}

.services .media h3 {
  font-size: var(--font-size-normal);
  color: var(--color-grey-darker);
  margin: 25px 0 10px;
}

.services .media p {
  font-size: var(--font-size-small);
  text-align: center;
}
