body {
  font-family: "roboto", sans-serif;
  color: #999;
  min-width: 1200px;
}

body > * {
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --color-grey-lighter: #ddd;
  --color-grey: #686868;
  --color-grey-darker: #383838;
  --color-red: #c04d36;
  --font-size-bigger: 2.4rem;
  --font-size-big: 2rem;
  --font-size-normal: 1.7rem;
  --font-size-small: 1.3rem;
  --font-size-smaller: 1.1rem;
}

.container {
  max-width: 1100px;
}

.container--absolute {
  margin-left: calc(-1100px / 2) !important;
  left: 50%;
}

.container--bigger {
  max-width: 1100px;
}

.container--bigger-absolute {
  left: 50%;
  margin-left: calc(-1100px / 2) !important;
}

@media screen and (min-width: 1400px) {
  .container--bigger {
    max-width: 1250px;
  }
  .container--bigger-absolute {
    margin-left: calc(-1250px / 2) !important;
  }
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3rem;
}
